

body {
    background-color: gold;
    padding: 36px;
    background-image: url("https://image.freepik.com/free-vector/green-tropical-leaves-decorative-background_52683-18995.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
 }

h1, h2, footer {
    background-color: antiquewhite;
}
#quiz-screen.container {
    background-color: antiquewhite;
}

p {
    font-weight: bold;
}

#end-screen {
    display: none;
}

h1, h2, footer {
    text-align: center;
}

h2, footer {
    padding: 32px;
}

footer {
    font-style: italic;
}