

body {
    padding: 36px;
    background-image: url("https://image.freepik.com/free-vector/green-tropical-leaves-decorative-background_52683-18995.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 960px;
 }

h1, h2, footer {
    background-color: antiquewhite;
    width: 960px;
    text-align: center;
    padding: 32px;
}
#quiz-screen.container, h3#score{
    background-color: antiquewhite;
    width: 960px;
}

p {
    font-weight: bold;
}

#end-screen {
    display: none;
}

footer {
    font-style: italic;
}